


ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
    
}

a:hover{
    color: blue;
}